.fixed-scale-block {
    position: fixed;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px;
    bottom: 40px;
    right: 40px;
    z-index: 1;
    box-sizing: border-box;
}
.fixed-scale-block > span {
    padding: 0px 16px;
    float: left;
    font-size: 17px;
    border-right: 1px solid #eee;
    line-height: 48px;
    user-select: none;
}
.fixed-scale-block > span:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
.tag-select-block > div {
    padding: 6px 22px;
}
.tag-select-block > div:hover {
    background-color: #e6f7ff;
    cursor: pointer;
}
.padding-pop .ant-popover-inner-content {
    padding: 2px 0px;
}
#track-div {
    position: absolute;
    border-radius: 2px;
    background: #fff;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}
